<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
  <title>Password Manager{% block title %}{% endblock %}</title>
</head>
<body>
  <nav class="navbar">
    <div class="navbar-links">
      <a class="nav-item" href="/">Home</a>
      <a class="nav-item-unlocked" href="/lock">Lock</a>
      <a class="nav-item-unlocked" href="/settings">Settings</a>
    </div>
  </nav>
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for categories, message in messages %}
        {% if categories=="good" %}
        <div class="alert-good" role="alert">{{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% elif categories=="warn" %}
        <div class="alert-warn" role="alert">{{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% block body %}
  {% endblock %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename='base.bundle.js') }}">
</script>
</body>
</html>