{% extends "base.html" %}
{% block title %}-Vault{% endblock %}
{% block body %}
<form method="POST">
  <h1 class="heading">Password Vault</h1>
  <div class="form-group">
    <label for="url_read">Search</label>
    <input 
      type="text"
      class="form-control"
      id="url_read"
      name="url_read"
      placeholder="Search URL"
    />
  </div>
  <button type="submit" class="btn-submit">Submit</button>
</form>
{% if s_result %}
<div class="table-title">
  <h2>
    Record for<br>
    https://{{ s_result.url }}
  </h2>
  <button type="button" id="btn-copyPass" value={{ s_result.password }}>Copy Password</button>
</div>
<table>
  <div class="table-group">
    <tr>
      <th>Login ID</th><th>Notes</th><th>Actions</th>
    </tr>
    <tr>
      <td>{{ s_result.login }}</td>
      <td>{{ s_result.remark }}</td>
      <td>
        <a href="/update/{{ s_result.id }}">Update</a><br>
        <a href="/delete/{{ s_result.id }}">Delete</a>
      </td>
    </tr>
  </div>
</table>
<button type="button" id="btn-gen-new" value={{ s_result.id }}>Generate New Password</button><br>
<ul class="list-notes">
  <li>Generate New Password will update the record automatically.</li>
</ul>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='clipboard.js') }}">
</script>
{% endif %}
{% endblock %}