{% extends "base.html" %}
{% block title %}
  {% if view_flag=="create" %}
    - Welcome
  {% else %}
    - Locked
  {% endif %}
{% endblock %}
{% block body %}
<form class="form-group" method="POST" action="/login">
  <h1 class="heading">Master Password</h1>
  <div>
    <label for="master_pw">
    {% if not db_exist %}
      Create a Master Password to start:
    {% else %}
      Verification
    {% endif %}
    </label>
    <input
      type="password"
      class="form-control"
      id="master_pw"
      name="master_pw"
      placeholder="Enter Master Password"
    />
  </div>
  <button id="btn-master-pw" type="submit" class="btn-submit">
    {% if not db_exist %}
      Create
    {% else %}
      Unlock
    {% endif %}
  </button>
  <p id="btn-master-warn"></p>
</form>
{% endblock %}