{% extends "base.html" %}
{% block title %}
  {% if flag_=="new" %}
    -Welcome
  {% else %}
    -Verify
  {% endif %}
{% endblock %}
{% block body %}
<form method="POST">
  <h1 class="heading">Master Password</h1>
  <div class="form-group">
    <label for="master_pw">
    {% if flag_=="new" %}
      Create a Master Password to start:
    {% elif flag_=="verify" %}
      Verification
    {% elif flag_=="logged_in" %}
      Change
    {% endif %}
    </label>
    <input
      type="password"
      class="form-control"
      id="master_pw"
      name="master_pw"
      placeholder="Enter Master Password"
    />
  </div>
  <button type="submit" class="btn-submit">Unlock</button>
</form>
{% endblock %}