{% extends "base.html" %}
{% block title %}
  {% if view_flag=="create" %}
    -Welcome
  {% elif view_flag=="locked" %}
    -Locked
  {% else %}
    -Unlocked
  {% endif %}
{% endblock %}
{% block body %}
<form class="form-group" method="POST">
  <h1 class="heading">Master Password</h1>
  <div>
    <label for="master_pw">
    {% if view_flag=="create" %}
      Create a Master Password to start:
    {% elif view_flag=="locked" %}
      Verification
    {% else %}
      Change
    {% endif %}
    </label>
    <input
      type="password"
      class="form-control"
      id="master_pw"
      name="master_pw"
      placeholder="Enter Master Password"
    />
  </div>
  <button type="submit" class="btn-submit">Unlock</button>
</form>
{% endblock %}