{% extends "base.html" %}
{% block title %}
  {% if action=="insert" %}-New
  {% else %}-Modify
  {% endif %}
{% endblock %}
{% block body %}
<form method="POST">
  {% if action=="insert" %}
  <h1 class="heading">Add Record</h1>
  {% else %}
  <h1 class="heading">Update Record</h1>
  {% endif %}
  <strong>for URL: https://{{ url }}</strong>
  <div class="form-group">
    <label for="login">Login ID/ Email</label>
    <input
      type="text"
      class="form-control"
      id="login"
      name="login"
      placeholder="Login ID/ Email"
      {% if action=="update" %}
      value={{ login }}
      {% endif %}
    />
  </div>
  <div class="form-group">
    <label for="reamark">Additional Note</label>
    <input
      type="text"
      class="form-control"
      id="remark"
      name="remark"
      placeholder="Additional Note"
      {% if action=="update" %}
      value={{ remark }}
      {% endif %}
    />
  </div>  
  <div class="form-group">
    <label for="password">Password</label>
    {% if action=="insert" %}
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Leave blank to atuo-generate"
    />
    {% else %}
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Custom Password"
    />
    {% endif %}
  </div>
  <ul class="list-notes">
    {% if action=="update" %}
    <li>Leave blank if you don't want to update password.</li>
    {% endif %}
    <li>Enter punctuations-only will generate a password with punctuations pick from them.</li>
    <li>Or you can enter a password directly.</li>
  </ul>
  <br>
  <button type="submit" class="btn-submit">Submit</button>
</form>
{% endblock %}