{% extends "base.html" %}
{% block title %}
  {% if view_flag == "insert" %}
    - New
  {% else %}
    - Modify
  {% endif %}
{% endblock %}
{% block body %}
{% if view_flag == "insert" %}
<form class="form-group" method="POST" action="/insert_db/{{ domain }}">
    <h1 class="heading">Add Record</h1>
{% else %}
<form class="form-group" method="POST" action="/update_db/{{ entry_for_update.id }}">
    <h1 class="heading">Update Record</h1>
{% endif %}
  <strong>for URL: https://{{ domain }}</strong>
  <div>
    <label for="login">Login ID/ Email</label>
    <input
      type="text"
      class="form-control"
      id="login"
      name="login"
      placeholder="Login ID/ Email"
      {% if view_flag == "update" %}
        value={{ entry_for_update.login }}
      {% endif %}
    />
  </div>
  <div>
    <label for="reamark">Additional Note</label>
    <input
      type="text"
      class="form-control"
      id="remark"
      name="remark"
      placeholder="Additional Note"
      {% if view_flag == "update" %}
        value={{ entry_for_update.remark }}
      {% endif %}
    />
  </div>  
  <div>
    <label for="password">Password</label>
    {% if view_flag == "insert" %}
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Leave blank to atuo-generate"
    />
    {% else %}
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Custom Password"
    />
    {% endif %}
  </div>
  <div class="gen-group">
    <ul class="list-notes">
      {% if view_flag == "update" %}
        <li>Leave blank if you don't want to update password.</li>
      {% endif %}
      <li>Enter punctuations-only will generate a password with punctuations pick from them.</li>
      <li>Or you can enter a password directly.</li>
    </ul><br>
    <button type="submit" class="btn-submit">Submit</button>
  </div>
</form>
{% endblock %}