body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: azure;
  background-size: cover;
  min-width: 360px;
  margin: 0;
}
.form-group, .table-title, .gen-group{
  text-align: center;
}
#react {
  text-align: center;
}
input{
  width: 60%;
  max-width: 180px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 5px;
}
button{
  width: 150px;
  padding: 4px;
  border-style: outset;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
button:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24);
}

.btn-sm {
  width: 43px;
  font-size: 0.6rem;
  margin: 2px 1px;
  text-align: center;
}

.close{
  width: 16px;
  padding: 0;
  margin-left: 10px;
  border: none;
}

.navbar{
    margin: 0;
    padding: 0;
    /* position: fixed; */
    top: 0;
    width: 100%;
    background-color: #404040;
    overflow: hidden;
}
.nav-item, .nav-item-unlocked{
    float: left;
    padding: 8px 14px;
    color: #f2f2ee;
    text-align: center;
    text-decoration: none;
    font-size: large;
}
.nav-item:hover{
    background-color: #f2f2ee;
    color: #404040;
}
.nav-item:active{
    background-color: #d4b135;
    color: #f2f2ee
}
.alert-warn{
    background-color: #f2b1cc;
    text-indent: 10px;
}
.alert-good{
    background-color: #b1e1f2;
    text-indent: 10px;
}
h2{
    font-size: 18px;
    padding: 0;
    margin: 2px;
}
.table-title{
    text-align: center;
}
table{
    width: 100%;
    max-width: 420px;
    border-collapse: collapse;
    text-align: left;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}
td, th{
    border: 1px solid #b0b0b0;
    padding: 5px;
}
.list-notes{
    width: 100%;
    max-width: 420px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
.input-update{
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#col-login{
  width: 40%;
}
#col-remark{
  width: 35%;
}
#col-actions{
  width: 25%;
}
